* {
    padding: 0px;
    border: 0px;
}

body {
    font-family: 'Jost', 'sans-serif';
    background-color: #f8df94;
}

/*
subtitulo nossa pesquisa
*/
.subtitulo {
    border-color: #445D9D;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #445D9D;
    color: white;
    text-align: center;
    padding: 15px 15px;
}

/*
titulos das paginas
*/
.titulo {
    background-color: #445D9D;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
parte branca do comentario
*/

.comentario {
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    color: black;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    text-align: justify;
    margin-right: 25px;
    margin-left: 25px;
}

/*
Organiza o alert do entenda o porque e a influenciosfera
*/

.decoration {
    background-color: #E74940;
    color: white;
    display: flex;
}

/*
Organiza a cor dos comentários
*/

.comentarios-vermelho {
    background-color: #E74940;
}

/*padding imagens usuario*/
.user {
    padding-top: 10px;
}

/* deixar imagem e comentario lado a lado*/
.pesquisa-comentario {
    display: flex;
}

/* centralizando os alerts*/
.flex-container {
    display: flex;
    justify-content: center;
}

.influenciosfera {
    max-width: 850px;
    text-align: justify;
    margin-right: 15px;
    margin-left: 15px;
}

/* tamanho da letra dos textos*/
.fonte {
    font-size: 20px;
    text-align: justify;
}

/*organização nome dos componentes*/
.nomes {
    padding-top: 10px;
    font-size: 20px;
}

/*centralizando o grafico e especificando o tamanho do nossa pesquisa*/
.centralizar {
    align-items: center;
    max-width: 900px;
}

/*tamanho bem vindos ao meu site*/
.tamanho {
    max-width: 600px;
}

.margem-index {
    margin-top: 60px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

/*comandos da página conceitos*/

/* cor dos links*/
.link {
    text-decoration: none;
    color: black;
}

/* texto conceitos*/
.conceito {
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-color: #fafaf8;
    background-color: #fafaf8;
    padding-left: 5px;
    padding-right: 5px;
}

.margem {
    margin: 0 20px;
}

/*----------------------------------------------------------------------------------------------------------------------------*/

/*Comandos páginas especificas dos conceitos*/
main {
    background-color: #F6E293;
    color: black;
}

body {
    font-family: 'Jost', 'sans-serif';
}

h1 {
    font-weight: bold;
    text-align: center;
}

.color {
    color: #E74940;
}

/* classes para dar responsividade aos videos incorporados do youtube */
.embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 15px;
}

.embed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

/*tamanho da letra e justificado*/
.letra {
    text-align: justify;
    max-width: 550px;
    font-size: 18px;
}